{
  "plugins": [
    "react"
  ],

  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],

  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },

  "rules": {
    "comma-dangle": ["warn", "only-multiline"]
  },

  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  }
}
