{
  "plugins": [
    "react"
  ],

  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],

  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },

  "rules": {
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "no-console": 0
  },

  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  }
}
