<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.mozilla.magnet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW"
        tools:remove="${excludeSystemAlertWindowPermission}" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-sdk tools:overrideLibrary="org.mozilla.magnet.net.scanner" />

    <application
        android:name="org.mozilla.magnet.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.mozilla.magnet.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ScannerService"
            android:enabled="true"
            android:exported="false"></service>

        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="false"></service>

        <receiver
            android:name=".ReceiverAlarm"
            android:enabled="true"
            android:exported="true"></receiver>

        <receiver android:name=".ReceiverNotificationDelete">
            <intent-filter>
                <action android:name="notification_delete" />
            </intent-filter>
        </receiver>

        <receiver android:name=".ReceiverBootCompleted">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>
</manifest>
